/**
*   Layout
*/
body {
    min-width: 1280px;
    background: white;
}

.container {
    width: 1280px;
}

.container .half-row {
    width: 50%;
}

.container .two-third-row {
    width: 66.66%;
}

.center-block {
    margin: 0 auto;
}

.paginator {
    text-align: center;
}

.error-message {
    color: #d9534f;
}

/**
*   Shared
*/
.form-wrapper h2 {
    color: #ddd;
}

.form-wrapper h2,
.form-wrapper label {
    display: block;
    text-align: left;
}

.form-wrapper div.input { display: block }
.form-wrapper button.btn {
    width: 100%;
    margin-top: 20px;
}

/**
*   Admin page
*/
.admin-menu a {
    border: 1px solid #ddd;
}

.add-user-form {
    width: 400px;
}

.add-user-form .input {
    margin-bottom: 10px;
}

.add-user-form select {
    margin-bottom: 20px;
}

/**
*   Homepage
*/
#logo {
    position: relative;
    text-align: center
}

#logo .login {
    position: absolute;
    top: 20px;
    right: 20px;
}

#logo a.btn { color: white }

#menu {
    text-align: center;
}

#menu a {
    padding: 1em 1.5em;
    cursor: pointer;
}

#menu .dropdown li {
    position: relative;
}

#menu .dropdown li ul.dropdown-menu {
    width: 160px;
}

#menu .dropdown li ul.dropdown-menu li {
    width: 100%;
}

#menu .dropdown li ul.dropdown-menu a {
    color: black;
    font-size: 12px;
    padding: 10px 15px;
}

#page-wrapper {
    padding-top: 10px;
    border-top: none;
}

#slider-section {
    height: 670px;
    overflow: hidden;
}

.main-slider {
    width: 800px;
    margin: 0 auto;
}

.main-slider img {
    max-width: 640px;
    margin: 0 auto;
}

.slick-prev:before,
.slick-next:before {
    color: #ccc;
}

#featured {
    margin-top: 15px;
    border-top: 1px solid #47A665;
}

@media (min-width: 768px) {
    .container { width: 1280px }
}


/**
*   Login page
*/
#content-body.login {
    padding: 30px 0;
    text-align: center;
}

#content-body.login .login-register-container {
    width: 680px;
    overflow: hidden;
    margin: 0 auto;
}

#content-body.login .form-wrapper .error.message {
    display: none;
}

#content-body.login .form-wrapper {
    display: inline-block;
    padding: 15px;
    margin: 0 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    float: left;
}

#content-body.login .form-wrapper label:last-of-type {
    margin-top: 15px;
}

#content-body.login .form-wrapper p {
  text-align: left;
}

#content-body.login .registration-form > p:first-of-type {
    margin-top: 25px;
}

#content-body.login .registration-form a.btn {
    width: 100%;
    margin-top: 22px;
}

/**
*   Register page
*/
#content-body.register form {
    width: 400px;
    margin: 0 auto;
}

#content-body.register .form-wrapper {
    overflow: hidden;
    margin-bottom: 40px;
}

#content-body.register .form-wrapper h2 {
    text-align: center;
    margin-bottom: 20px;
}

#content-body.register .form-wrapper .input {
    overflow: hidden;
    display: block;
    margin-bottom: 10px;
}

#content-body.register .form-wrapper label {
    display: inline-block;
    float: left;
    width: 20%;
    text-align: right;
    padding-top: 7px;
    padding-right: 10px;
    font-weight: 500;
}

#content-body.register .form-wrapper label:after {
    content: ': '
}

#content-body.register .form-wrapper input {
    display: inline-block;
    float: right;
    width: 78%;
}

#content-body.register .form-wrapper button.btn {
    width: 78%;
    float: right;
}

/**
*   About us page
*/
#content-body.aboutus {
    padding: 30px 0;
    text-align: center;
}

#content-body.aboutus .form-wrapper {
    display: inline-block;
    padding: 15px;
    margin: 0 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    /*height: 200px;*/
}

#content-body.aboutus .form-wrapper h2 {
    color: #cdd;
}

/*#content-body.aboutus .form-wrapper h2,
#content-body.aboutus .form-wrapper label {
    display: block;
    text-align: left;
}*/
