/**
*   Layout
*/

.btn-info {
    color: #fff;
    background-color: grey;
    border-color: grey;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 200;
    font-family: calibri,serif;
   
}
.btn-success {
    color: #fff;
    background-color: grey;
    border-color: grey;
    
    
}

.btn-warning {
    color: #fff;
    background-color: grey;
    border-color: grey;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 200;
}

.glyphicon {
    font-size:25px;
  position: relative;
  top: 6px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
    padding: 10px;
    

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




a {
  color: #514f4f;
  text-decoration: none;
  font-size: 1em;
  font-family: calibri,serif;
  font-weight: 10;
    
    
}
body {
    width: 100%;

    background: white;
}

h3.form-title {
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
}

form .input {
    margin-bottom: 10px;
}

form button {
    margin-top: 20px;
}

.btn.disabled {
    opacity: .35;
}

.container {
    width: 100%;
}

.container .half-row {
    width: 50%;
}

.container .one-third-row {
    width: 33.33%;
}

.container .two-third-row {
    width: 66.66%;
}

.center-block {
    margin: 0 auto;
}

.paginator {
    text-align: center;
}

.error-message {
    display: block;
    clear: both;
    float: right;
    color: #d9534f;
}

.form-control.form-error {
    border: 1px solid #d9534f;
}

/**
*   Shared
*/
.form-wrapper h2 {
    color: #ddd;
}

.form-wrapper h2,
.form-wrapper label {
    display: block;
    text-align: left;
}

.form-wrapper div.input {
    display: block
}

.form-wrapper button.btn {
    width: 100%;
    margin-top: 9px;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.flex {
  display: flex;
}

.flex.flex-column {
  flex-direction: column;
}

.sub-ul {
  padding-left: 10px;
}

.text-align-center {
  text-align: center;
}

/**
*   Admin page
*/
.container.admin-page {
  padding: 0 80px;
}

.admin-menu a {
    border: 1px solid #ddd;
}

.admin-menu a.btn-success {
    border: 1px solid grey;
}

/**
*   Admin Category
*/
.admin-category-header {
  align-items: center;
}

.main-category-column {
  vertical-align: middle !important;
  text-align: center;
}

.sub-category-column .link-block {
  padding-right: 15px;
}

.sub-category-column .link-block a:first-child {
  margin-right: 10px;
}

.sub-category-column .sub-category-row {
  justify-content: space-between;
  margin-bottom: 3px;
}

/**
*   Homepage
*/
#logo {
    position: relative;
    text-align: center
      
       
}

#logo .login {
    position: absolute;
    top: 20px;
    right: 20px;
}

#logo a.btn { color: black}

#menu {
    text-align: center;
}

#menu a {
    padding: 1em 1.5em;
    cursor: pointer;
}

#menu .dropdown li {
    position: relative;
}

#menu .dropdown li ul.dropdown-menu {
    width: 160px;
}

#menu .dropdown li ul.dropdown-menu li {
    width: 100%;
}

#menu .dropdown li ul.dropdown-menu a {
    color: black;
    font-size: 12px;
    padding: 10px 15px;
}

#page-wrapper {
    padding-top: 10px;
    border-top: none;
}

#slider-section {
    height: 300px;
    overflow: hidden;
}

.main-slider {
    width: 640px;
    margin: 0 auto;
}

.main-slider img {
    max-width: 640px;
    margin: 0 auto;
}

.slick-prev:before,
.slick-next:before {
    color: #ccc;
}

#featured {
    margin-top: 25px;
    border-top: 1px solid grey;
}


/**
*   Login page
*/
#content-body.login {
    padding: 30px 0;
    text-align: center;
}

#content-body.login .login-register-container {
    width: 680px;
    overflow: hidden;
    margin: 0 auto;
}

#content-body.login .form-wrapper .error.message {
    display: none;
}

#content-body.login .form-wrapper {
    display: inline-block;
    padding: 15px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    height: 300px;

}

#content-body.login .form-wrapper label:last-of-type {
    margin-top: 15px;
}

#content-body.login .form-wrapper p {
  text-align: left;
}

#content-body.login .registration-form > p:first-of-type {
    margin-top: 25px;
}

#content-body.login .registration-form a.btn {
    width: 100%;
    margin-top: 22px;
}

/**
*   Register page
*/
#content-body.register form {
    width: 400px;
    margin: 0 auto;
}

#content-body.register .form-wrapper {
    overflow: hidden;
    margin-bottom: 40px;
}

#content-body.register .form-wrapper h2 {
    text-align: center;
    margin-bottom: 20px;
}

#content-body.register .form-wrapper .input {
    overflow: hidden;
    display: block;
}

#content-body.register .form-wrapper label {
    display: inline-block;
    float: left;
    width: 20%;
    text-align: right;
    padding-top: 7px;
    padding-right: 10px;
    font-weight: 500;
}

#content-body.register .form-wrapper label:after {
    content: ': '
}

#content-body.register .form-wrapper input {
    display: inline-block;
    float: right;
    width: 78%;
}

#content-body.register .form-wrapper button.btn {
    width: 78%;
    float: right;
}

/**
*   About us page
*/
#content-body.aboutus {
    padding: 30px 0;
    text-align: center;
}

#content-body.aboutus .form-wrapper {
    display: inline-block;
    padding: 15px;
    margin: 0 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    /*height: 200px;*/
}

#content-body.aboutus .form-wrapper h2 {
    color: #cdd;
}

/*#content-body.aboutus .form-wrapper h2,
#content-body.aboutus .form-wrapper label {
    display: block;
    text-align: left;
}*/

/************************************************************
*************************Footer******************************
*************************************************************/

@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Gudea);
.footer1 {
    background: #ffffff;
    border-top: 1px solid #8e9493;
	padding-top: 40px;
	padding-right: 0;
	padding-bottom: 20px;
	padding-left: 0;/*	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #003;*/
}



.title-widget {
	color: #333;
	font-size: 20px;
	font-weight: 300;
	line-height: 1;
	position: relative;
	text-transform: uppercase;
	font-family: 'Fjalla One', sans-serif;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 25px;
	margin-left: 0;
	padding-left: 28px;
}

.title-widget::before {
    background-color: #333;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}



.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}

.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}


.widget_nav_menu ul li {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
	position: relative;
    text-transform: uppercase;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 7px;
    padding-bottom: 7px;
	width:95%;
}



.title-median {
    color: #636363;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
	font-family: 'Fjalla One', sans-serif;
}

.footerp p {font-family: 'Gudea', sans-serif; }


#social:hover {
    			-webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-o-transform:scale(1.1);
			}
			#social {
				-webkit-transform:scale(0.8);
                /* Browser Variations: */
-moz-transform:scale(0.8);
-o-transform:scale(0.8);
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
			}
/*
    Only Needed in Multi-Coloured Variation
                                               */
			.social-fb:hover {
				color: #3B5998;
			}
			.social-tw:hover {
				color: #4099FF;
			}
			.social-gp:hover {
				color: #d34836;
			}
			.social-em:hover {
				color: #f39c12;
			}
			.nomargin { margin:0px; padding:0px;}





.footer-bottom {
    background-color: #D3D3D3;
    min-height: 30px;
    width: 100%;
}
.copyright {
    color: 	#808080;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: center;
}

.nav-top {
    padding:3px 0 3px 0;
    background-color: #ffffff;
    

}
.nav-top a
{
	display: block;
	padding: 1em 2em;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 200;
	color: #FFF;
    margin-left: .5em;
    
}

.nav-top a:hover
{
	background: #D3D3D3 !important;
	text-decoration: none;
	color: #FFF;
}

.navbar-header {margin-right:0 !important;}
.thumbnail {height:400px; overflow:hidden; }
.thumbnail img {max-height:280px; }

@media (max-width: 768px) {
    .thumbnail {height:auto; }
}

/************************************************************
*************************Footer******************************
*************************************************************/
button {
color: white;
background: grey;
font-size: 24px;
border-color: black;

}
